<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       default-init-method="init"
       default-destroy-method="destory"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean class="TaskList" id="taskList"/>

    <bean class="Task" id="springTask">
        <qualifier value="spring"/>
        <property name="name" value="spring"/>
    </bean>

    <bean class="Task" id="androidTask">
        <property name="name" value="android"/>
        <qualifier value="android"/>
    </bean>
</beans>