
* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background: #ccc;
}

article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
}

address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
}

h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
}

article {
    border-top-color: black;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0.3) 100%);
}

h1 {
    border: none;
    border-radius: 70px;
    background-image: url("logo.png");
    box-shadow: 2px 2px 2px black;
}

div {
    width: 100%;
    height: 140px;
    background-image: url("bottom-image.png");
    position: absolute;
    bottom: 0;
}