.wrapper {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.col {
    background: rgb(255, 150, 150);
}

.span6 {
    grid-column: auto/span 6;
}